
PORT=PORT


CORS_ORIGIN=FRONTEND_URL


MONGO_URI=MONGO_DB_URL

JWT_ACCESS_SECRET=SECRET_KEY
JWT_ACCESS_EXPIRY=15m

JWT_REFRESH_SECRET=SECRET_KEY
JWT_REFRESH_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=NAME
CLOUDINARY_API_KEY=API_KEY_
CLOUDINARY_API_SECRET=API_KEY_SECRET

ADMIN_EMAIL=ADMIN_PASSWORD
ADMIN_PASSWORD=ADMIN_EMAIL_PASSWORD